.container1 {
    background-color: grey;
    color: white;
    width: 10px;
    height: 10px;
    padding: 5px;
    resize:both;
    overflow:auto;

}
.container2 {
    background-color: grey;
    color: white;
    width: 10px;
    height: 10px;
    padding: 5px;
    resize:vertical;
    overflow:auto;

}
.container3 {
    background-color: grey;
    color: white;
    width: 10px;
    height: 10px;
    padding: 5px;
    resize:horizontal;
    overflow:auto;

}