h1,h2 {
    color:  #007e7e;
    border-bottom: 1px solid black;
}
h1  {
    border-bottom: 1px solid black;
    font-size: 150%;
}
h2 {
    font-size: 150%;
}

body  {
    background-color: #d2b48c;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    font-size: small;
    line-height: 1.6em;
    }
p {
    color:  maroon;
    
}
.greentea {
    color: green;
}
p.raspberry {
        color: blue;
}
p.blueberry {
        color: purple;
}
#guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444444;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #a7cece;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
}
p.specials {
    color: red;
}
.specials {
    color: red;

}
#footer {
    color: red;

}
p#footer {
    color: red;
}
#elixirs{
    border-width: thin;
    border-style: solid;
    border-color: #007e7e   
}